doctype html
html(lang='en')
  head
    title Edit Product
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    .container
      h2 Edit product information page
      form(action='http://localhost:3000/users/productedit1', method='post')
        .form-group
          label(for='text') Product Name: 
          input#text.form-control(type='text', placeholder='Enter product', name='productName')
        .form-group
          label(for='text') Product Category: 
          input#text.form-control(type='text', placeholder='Enter category', name='productCategory')
        .form-group
          label(for='text') Product Cost: 
          input#text.form-control(type='text', placeholder='Enter cost', name='productCost')
        button.btn.btn-default(type='submit') Confirm!
