doctype html
html
  title FashionAdda.com
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Amatic+SC')
  style.
    body, html {height: 100%}
    body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif}
    .menu {display: none}
    .bgimg {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://img-s3.onedio.com/id-58b861a26f744582173a5838/rev-0/raw/s-e79e19fdb4c4cc67d3c4957b35858ee3d4ace1ef.jpg");
    min-height: 100%;
    }
  body
    // Header with image
    header#home.bgimg.w3-display-container.w3-grayscale-min
      .w3-display-bottomleft.w3-padding
      .w3-display-middle.w3-center
        span.w3-text-white.w3-hide-small(style='font-size:100px')
          span(color='Black') FashionAdda
        p
          a.w3-button.w3-xxlarge.w3-black(href='http://localhost:3000/users/login/screen') Signup/Login
